<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JIMDUR - Ventas de repuestos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="d-flex">
    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>
    
    <!-- Contenido principal -->
    <div class="container-fluid">
      <!-- Header -->
      <div th:replace="fragments/header :: header"></div>

      <!-- Contenido específico -->
      <div th:replace="${content}"></div>

      <!-- Footer -->
      <div th:replace="fragments/footer :: footer"></div>
    </div>
  </div>
</body>
</html>
