<!-- Sidebar Fragment -->
<div th:fragment="sidebar" class="sidebar-container col-md-3 col-lg-2 p-0 bg-dark text-white">
    <div class="d-flex flex-column justify-content-between min-vh-100 p-3">
        <div>
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <i class="bi bi-bootstrap-fill me-2 fs-3"></i>
                <span class="fs-4">Administrador</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active text-white" aria-current="page">
                        <i class="bi bi-house-door-fill me-2"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-speedometer2 me-2"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-table me-2"></i>
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#collapseProducts" class="nav-link text-white" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseProducts">
                        <i class="bi bi-grid-3x3-gap-fill me-2"></i>
                        Products
                        <!-- Ícono chevron para submenú colapsable -->
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <!-- Submenú colapsable -->
                    <ul class="collapse show" id="collapseProducts">
                        <li>
                            <a th:href="@{/admin/productos/}" class="nav-link text-white ps-4">Listar Productos</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/productos/agregar}" class="nav-link text-white ps-4">Agregar Productos</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/categorias}" class="nav-link text-white ps-4">Categorias</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/marca}" class="nav-link text-white ps-4">Marcas</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-people-fill me-2"></i>
                        Customers
                    </a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
